.mainForgetPasswordPage{
    background-color: #ffffff;
    display: flex;
    margin: auto;
    justify-content: center;
}

.forgetPasswordRight{
    border: 1px solid rgb(186, 184, 184);
    height: 550px;
    width: 350px;
    margin-top: 4.6%;
    margin-left: 30px;
}
.rightBottomSection{
    border: 1px solid rgb(186, 184, 184);
    height: 60px;
    width: 350px;
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.instagramLogo{
    width:120px;
    height:120px;
    margin-left: 120px;
    margin-top: 19px;
    margin-bottom: 20px;
}

.inputForForgetPassword{
    width: 85%;
    height: 1vh;
    padding: 13px;
    margin-top:10px;
}
.LoginButton{
    width: 89%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #4cb5f9;
    color: #ffffff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}

.mainForgetPasswordPage {
    position: relative;
  }
  
  .blur-background {
    filter: blur(5px);
  }
  
  .success-message-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: #091b01;
    width: 500px;
    text-align: center;
  }
  