.mainLoginPage{
    background-color: #ffffff;
    display: flex;
}

.AdminLeft{
    height: 700px;
    width: 430px;
    background-image: url("https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk");
    background-repeat: no-repeat;
    margin-left: 28%;
    margin-top: 4%;
}


.AdminRight{
    border: 1px solid rgb(186, 184, 184);
    height: 444px;
    width: 350px;
    margin-top: 4.6%;
    margin-left: 30px;
}

.ConnectLoomLogo{
    width:250px;
    margin-left: 50px;
    margin-top: 25px;
    height: 150px;
}

.inputForLoginPage{
    width: 95%;
    height: 1vh;
    padding: 15px;
    margin-top:10px;
}
.LoginButton{
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #4cb5f9;
    color: #ffffff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
}